.publication {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 25px;
}

.publication img{
    text-align: center;
}

.publication h2{
    padding-top: 10px;
}

.publication_tags{
    padding-top: 10px;
}

.publication_tags a{
    padding-right: 10px;
    color: blue;
    cursor: pointer;

}

@media only screen and (max-width: 600px) {
    .publication {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding-top: 25px;
    }
    .publication img{
        text-align: center;
    }
  }



