.container_page{
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    height: 100vh;
}


.container_page::before{
    background-image: url('../../utils/images/background.jpg');
    background-size: cover; 
    height: 100vh;
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
}



