
.container_form{
    background-color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 2px;
    width: 350px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;

}


.container_form h2{
    font-weight: 700;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
}

.container_form label{
    display: block;
    position: relative;
    padding: 1em;
    font-size: 1.2em;

}

.container_form input{
    position: relative;
    top: 0;
    left: 0;
    
    outline: none;
    background:none;
    border-radius: 1em;
    padding: 1em;
    font-size: 1.2rem;
}

.container_form button{

    margin-top: 2em;
    padding: 1rem;
    margin-bottom: 3rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s;
    width: 100%;
    color:white;
    font-weight: 800;
    background-color: blue;
}

.container_form a{
    padding-bottom: 1em;
}



