
.userInfo-container{
    padding-top: 110px;
    text-align: center;
    align-items: start;
    display: flex;
    position: absolute;

}

.userInfo-container img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    cursor: pointer;

}

.userInfo-container h3{
    font-size: 1.5rem;
    padding-left: 30px;
    padding-top: 30px;
    cursor: pointer;
}

.userInfo__followButton{
    /* position: relative;




    display: inline-block;
    outline: none;
    vertical-align: middle;
    text-decoration: none; */


    /* background-color: rgba(38,72,75,1); */


    position: relative;

    padding: 10px;
    margin: 20px;
    margin-left: 30px;
    cursor: pointer;

    display: inline-block;
    border-radius: 10rem;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    overflow: hidden;
    z-index: 1;
    background-color:rgba(38,72,75,1) ;
}



