.commission-Container {
    text-align: center;
    align-items: start;
    position: relative;
    padding-top: 1rem;
    background-color: rgb(247, 241, 241);
    border: 2px solid rgb(134, 77, 77); 
}
.commissionInfo-Container {
    text-align: center;
    align-items: center;
    display: grid;
}
.commissionInfo-Container img{
    width: 140px;
    height: 140px;
    margin-top: 5px;
    margin: auto;
    border: 2px solid rgb(0, 0, 0); 
}
.commissionInfo-Container h2{
    font-size: 1.5rem;
    text-align: left;
    margin: auto;
}
.commissionInfo-Container h3{
    font-size: 1rem;
    text-align: left;
    padding-top: 10px;
    margin: auto;
}
.commissionInfo-askButton {
    position: relative;

    padding: 10px;
    margin: 20px;
    margin-left: 30px;
    cursor: pointer;

    display: inline-block;
    border-radius: 10rem;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    overflow: hidden;
    background-color:rgb(0, 133, 11) ;
}

.askCommission-Container{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
}

.askCommission-Inner{
    position: absolute;
    left: 25%;
    right: 25%;
    top: 10%;
    bottom: 25%;
    margin: auto;
    border-radius: 20px;
    background: white;
    overflow: scroll;
}

.askCommission-Inner h1{
    font-size: 2.5rem;
    text-align: center;
}

.askCommission-Inner label{
    text-align: left;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1rem;
}

.askCommission-Inner input {
    position: relative;
    
    outline: none;
    background:none;
    border-radius: 1em;
    padding: 1em;
    font-size: 1rem;
    height: 2rem;
}
.askCommission-Confirm {
    position: relative;

    padding: 10px;
    margin: 20px;
    margin-left: 30px;
    cursor: pointer;

    display: inline-block;
    border-radius: 10rem;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    overflow: hidden;
    background-color:rgb(0, 131, 11) ;
}
.askCommission-Cancel{
    position: relative;

    padding: 10px;
    margin: 20px;
    margin-left: 30px;
    cursor: pointer;

    display: inline-block;
    border-radius: 10rem;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    overflow: hidden;
    background-color:rgb(255, 0, 0) ;
}